/* CSS Document */

body{
	background:#1d1d1d url(../images/bg-top.jpg) repeat-x;
	color:#000000;
	}
h1,h2{
	color:#ffffff;
	padding:5px 0px;
	margin:0;
	}

h1{
	font-size:35px;
	}	
h2{
	text-transform:uppercase;
	}	
	
	
	
	
	
	
	
	
	